.Pokecard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: auto;
    padding: .2em 1em 1.2em;
    border-radius: 19px;
    background-color: rgb(190, 190, 178);
    box-shadow: 0px 2px 5px rgb(36, 29, 29);
}

.Pokecard-name{
    color: blue;
    font-size: 1.1rem;
}
.Pokecard-img{
    width: 50%;
    margin-bottom: 1em;
    transition: all .3s ease-out;
}
.Pokecard-img:hover{
    transform: scale(1.8);
    opacity: .7;

}
.Pokecard-type, .Pokecard-exp{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
}